{% load i18n %}

<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a class="dropdown-item dropdown-footer">{% trans "hi"|title %}, {{ request.user.get_name }}</a>
            <a href="{% url 'backend:users_change_password' %}" class="dropdown-item dropdown-footer">{% trans "change password"|title %}</a>
            {% comment %}
                <a class="dropdown-item dropdown-footer">{% trans "edit profile"|title %}</a>
            {% endcomment %}
            <a href="{% url 'logout' %}" class="dropdown-item dropdown-footer">{% trans "Log out"|title %}</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
        </a>
    </li>
</ul>
