<div class="card card-success">
    <div class="card-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="card-title">{{ title|upper }}</h3>
    </div>
    <div class="card-body">
      <canvas id="myChart" style="height:300px!important">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
var xValues = ['19 feb', '20 feb', '21 feb', '22 feb', '23 feb'];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [
      {% for name, dates, color in data %}
        {
          data: [{{ dates }}],
          borderColor: "{{ color }}",
          fill: false,
          label: '{{ name }}'
        },
      {% endfor %}
    ]
  },
  options: {
    responsive: true,
    legend: {display: true}
  }
});

</script>
