{% load static %}
{% load i18n %}

<!-- Map -->
<div class="card card-success">
    <div class="card-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="card-title">{{ title|upper }}</h3>
    </div>
    <div class="card-body">
        <div id="map" style="height: 500px;"></div>
        <hr>
        <div id="accordion">
            <div class="panel card card-default">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                            {% trans "information"|title %}
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width:40%">{% trans "name"|title %}</th>
                                    <th style="width:20%">{% trans "Nº Clients" %}</th>
                                    <th style="width:40%">{% trans "%" %}</th>
                                </tr>
                                {% for province in provinces %}
                                    <tr>
                                        <td>{{ province.name }}</td>
                                        <td>
                                            {{ province.num_clients }}
                                        </td>
                                        <td>
                                            <div class="progress xs">
                                                {% widthratio province.num_clients clients_total 100 as porcentage%}
                                                <div class="progress-bar progress-bar-red" style="width: {{ porcentage }}%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span>{{ porcentage }}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

<script>
    var myIcon = L.icon({
        iconUrl: '{% static "images/icon/icon.png" %}',
        iconSize: [38, 38],  // ancho y alto del ícono
        iconAnchor: [19, 38],  // punto de anclaje del ícono
        popupAnchor: [0, -30]  // punto de anclaje del popup
    });
    var map = L.map('map').setView([40.416775, -3.703790], 6);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
    {% for province in provinces %}
        {% if forloop.first %}
            L.marker([{{ province.geoposition }}], {icon: myIcon})
                .addTo(map)
                .bindPopup('{{ province.name }}: {{ province.num_clients }} Registered clients | Has the most clients')
                .openPopup();
        {% else %}
            L.marker([{{ province.geoposition }}])
                .addTo(map)
                .bindPopup('{{ province.name }}: {{ province.num_clients }} Registered clients')
        {% endif %}

    {% endfor %}
</script>
