{% extends "./layout.html" %}

{% load static %}
{% load model_tags %}

{% block content %}

{% statistics %}
<div class="row">
    <div class="col-md-6 col-lg-4">
        {% bart_users %}
    </div>
    <div class="col-md-6 col-lg-4">
        {% bart_companies %}
    </div>
    <div class="col-md-6 col-lg-4">
        {% bart_clients %}
    </div>
    <dir class="col-md-12">
        {% map %}
    </dir>
</div>
{% endblock content %}


{% block js_head %}
    <script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.pie.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.categories.min.js' %}"></script>
{% endblock js_head %}
