{% extends "../layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block navigator %}
    <li class="breadcrumb-item"><a href="{% url 'backend:home' %}">{% trans "home" %}</a></li>
    <li class="breadcrumb-item">{% trans "change password" %}</li>
{% endblock navigator %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'save' %}" class="btn btn-block btn-primary">
    </form>
{% endblock content %}
