{% extends "../layout.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rowReorder.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.dataTables.min.css' %}">
{% endblock css %}

{% block navigator %}
    <li class="breadcrumb-item"><a href="{% url 'backend:home' %}">{% trans "dashboard" %}</a></li>
    <li class="breadcrumb-item">{% trans "file list" %}</li>
{% endblock navigator %}

{% block content %}
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "options"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    {% if file.file %}
                        <td>
                            <a href="{{ file.file.url }}" target="_PDFS" class="btn btn-primary btn-block" title="{% trans 'donwload' %}"><i class="fas fa-file"></i></a>
                        </td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                </tr>
            {% empty %}
                {% trans "no data" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.rowReorder.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                "searching":false,
                "paging":false,
                "responsive":true,
                "language": {
                    "lengthMenu": "{% trans 'Display _MENU_ records per page' %}",
                    "zeroRecords": "{% trans 'Nothing found - sorry'|capfirst %}",
                    "info": "{% trans 'Showing page _PAGE_ of _PAGES_' %}",
                    "infoEmpty": "{% trans 'no records available'|capfirst %}",
                    "infoFiltered": "{% trans '(filtered from _MAX_ total records)'|capfirst %}",
                    "search": "{% trans 'search'|capfirst %}",
                }
            });
        } );
    </script>
{% endblock js %}
