
{% extends "../layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block navigator %}
    <li class="breadcrumb-item"><a href="{% url 'backend:home' %}">{% trans "dashboard" %}</a></li>
    <li class="breadcrumb-item">{% trans "delete client" %}</li>
{% endblock navigator %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>{% blocktrans with object=object %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>
        <input type="submit" value="Confirm" class="btn btn-danger">
        <a href="{% url 'backend:users_list' %}" class="btn btn-default">{% trans "cancel"|title %}</a>
    </form>
{% endblock content %}
