{% extends "../layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block navigator %}
    <li class="breadcrumb-item"><a href="{% url 'backend:home' %}">{% trans "dashboard" %}</a></li>
    <li class="breadcrumb-item">{% trans "update user" %}</li>
{% endblock navigator %}

{% block content %}
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.business|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.agent|as_crispy_field }}
            </div>
        </div>
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">{% trans "client registration"|title %}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.new_client|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.cif|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.address|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.province|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.zipcode|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.web|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.contact_person|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.person_position|as_crispy_field }}
                        {{ form.telephone|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <h3 class="card-title">{% trans "Activity"|title %}:</h3><br><br>
                        {{ form.a_engineering|as_crispy_field }}
                        {{ form.a_meter|as_crispy_field }}
                        {{ form.a_distributor|as_crispy_field }}
                        {{ form.a_installer|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <h3 class="card-title">{% trans "Interest"|title %}:</h3><br><br>
                        {{ form.i_storage|as_crispy_field }}
                        {{ form.i_investor|as_crispy_field }}
                        {{ form.i_charger|as_crispy_field }}
                        {{ form.i_panels|as_crispy_field }}
                        {{ form.i_others|as_crispy_field }}
                    </div>
                    <div class="col-md-12" id="section-buttons">
                        {{ form.interest|as_crispy_field }}
                        {{ form.comment|as_crispy_field }}
                        {% comment %}
                            <input type="submit" value="{% trans 'save' %}" class="btn btn-success">
                        {% endcomment %}
                        <button type="submit" name="submit" class="btn btn-success">{% trans "save"|upper %}</button>
                        <button type="submit" name="submit_continue" class="btn btn-secondary">{% trans "Save and continue editing"|upper %}</button>
                        <a href="{% url 'backend:clients_list' %}" class="btn btn-default button-mobile">{% trans "back to the list"|upper %}</a>
                        {% if request.user.is_staff or request.user.is_superuser %}
                            <a href="{% url 'backend:clients_delete' object.pk %}" class="btn btn-danger" style="float:right">{% trans "delete" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}


{% block js %}
<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            var button = $('form button[type="submit"]:focus');
            if (button.attr('name') == 'submit_continue') {
            this.action += '?continue_editing=1';
            }
        });
    });
</script>
{% endblock js %}
